# datapi configuration file

# datapi - Metastore URI
metastore_type: POLARIS 
metastore_uri: 'https://polaris-cr-sql-1063524325524.us-central1.run.app/api/catalog'
metastore_credentials: '6484b5bf526abf40:5f285b42a24fe97a42b7b2572b5b4bd4'
metastore_catalog: 'test_iceberg_catalog'

# datapi datapods - Deployment settings
deployment:
  deployment_target: GCP_CLOUD_RUN
  build_service: GCP_CLOUD_BUILD
  project_id: 'velascoluis-dev-sandbox'
  registry_url: 'gcr.io/velascoluis-dev-sandbox'
  region: 'us-central1'