# datapi configuration file

# Metastore URI
metastore_type: polaris
metastore_uri: 'https://polaris-cr-1063524325524.us-central1.run.app/api/catalog'
metastore_credentials: 'fd6325ab90c17f44:07215b6ce0c6bf24c66416176b20fb27'
metastore_catalog: 'test_iceberg_catalog'

# Deployment settings
deployment:
  registry_url: 'gcr.io/velascoluis-dev-sandbox'
  region: 'us-central1'