<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Documentation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>DataPod resources documentation</h1>
    <ul>
    {% for resource in resources %}
        <li>
            <a href="{{ resource.name }}.html">{{ resource.name }}</a>
            <p>{{ resource.short_description }}</p>
        </li>
    {% endfor %}
    </ul>
</body>
</html>