<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Documentation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>DataPod resources documentation</h1>
    <ul>
    {% for resource in resources %}
        <li>
            <a href="{{ resource.name }}.html">{{ resource.name }}</a>
            <p>{{ resource.short_description }}</p>
            <p><b>Deployment Status:</b> {% if resource.is_deployed %}Deployed{% else %}Not Deployed{% endif %}</p>
            {% if resource.is_deployed and resource.service_url %}
                <p><b>API live on:</b> {{ resource.service_url }}/get_data</p>
                <a href="{{ resource.service_url }}/docs">API docs</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>