resource_name: sample-resource-projection
type: REST
depends_on:
    - namespace: datapi_namespace
      table: aggregate_sales
local_engine: duckdb
short_description: This a projection sample query
long_description: sample-resource-projection-docs.md
operation_type: PROJECTION
select: sales q region
filters: region = 'EMEA'
deploy: True 